/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Fredericka+the+Great&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Variáveis de cor */
:root {
    --primary-color: #401122;
    --secondary-color: #781D42;
    --terciary-color: #F2F2F2;
    --quaternary-color: #fff;
    --quinary-color: #0D0D0D;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Corpo do documento */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 0;
}

/* Cabeçalho */
.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: var(--terciary-color);
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone ion-icon {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.menu a {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    font-family: "roboto", sans-serif;
    color: var(--primary-color);
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: var(--quinary-color);
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

/* Conteúdo principal */
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: justify;
}

.ola {
    font-weight: bold;
}

.conteudo h1 {
    font-family: 'roboto', sans-serif;
    font-size: 45px;
    color: var(--secondary-color);
}

.conteudo p {
    font-family: 'roboto', sans-serif;
    font-size: 23px;
    color: var(--quinary-color);
}

/* Seção Início */
.inicio {
    display: flex;
    height: calc(100vh - 50px);
    margin-top: 50px;
}

.quadrado {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 22%;
    height: 100vh;
    z-index: 1;
    background-color: var(--primary-color);
}

/* Parte principal do conteúdo */
.main {
    display: flex;
    justify-content: space-between;
}

.meu-nome {
    color: var(--secondary-color);
}

/* .perfil {
    display: flex;
    z-index: 2;
} */

.img-perfil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.perfil {
    max-height: 100%;
    max-width: 100%;
    z-index: 2;
}

/* Botão */
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    border-radius: 16px;
    color: var(--quaternary-color);
    width: 200px;
    height: 50px;
    font-size: 19px;
}

.botao:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

.botao a {
    color: var(--quaternary-color);
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;
}

.link-botao {
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin-top: 2rem;
}

/* Seção Sobre */
.sobre {
    background-color: var(--terciary-color);
    padding: 3rem 0 3rem 0;
}

.meu-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    font-family: "Scada", sans-serif;
    color: var(--quinary-color);
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.titulo-sobre {
    margin-bottom: 10px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
}

.meu-sobre {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Seção Habilidades */
.habilidades-conteudo {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: "Source Sans 3", sans-serif;
    gap: 2rem;
    padding: 1rem 0 1rem 0;
}


.habilidades {
    padding: 3rem 0 3rem 0;
}

.titulo-habilidades {
    padding-bottom: 2rem;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    color: var(--quinary-color);
    font-size: 1.5rem;
}

.icone-sobre {
    width: 60px;
    height: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    border-top: var(--secondary-color) 5px solid;
    border-right: var(--secondary-color) 5px solid;
    width: 7rem;
    height: 7rem;
    padding: 1.3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 1.2rem;
    background-color: var(--terciary-color);
    transition: all 0.2s ease;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.icone-habilidade {
    display: flex;
    height: 50px;
}

/* Seção Projetos */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--terciary-color);
    padding: 2rem 0 2rem 0;
}

.conteudo-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0 3rem 0;
}

.parte-projetos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1rem;
}

.projeto {
    position: relative;
    /* Adicionando posição relativa */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-width: 20rem;
    flex-grow: 1;
    width: 10rem;
    overflow: hidden;
    /* Oculta os detalhes que ultrapassam o projeto */
}

.projeto:hover .imagem-projeto {
    filter: brightness(0.4);
    /* Aplica o efeito de escurecimento apenas na imagem */
    transition: filter 0.2s ease;
    /* Adiciona uma transição suave */
}

.imagem-projeto {
    max-width: 100%;
    border-radius: 1rem;
    transition: transform 0.2s ease;
    /* Adiciona uma transição suave para o efeito de escala */
}

.conteudo-projetos h2 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
    color: var(--quinary-color);
    padding-bottom: 1rem;
    text-align: center;
}

.detalhes {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 0.6rem;
}

.detalhes p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--quaternary-color);
    font-family: "Source Sans 3", sans-serif;
}

.icones-linguagens img {
    width: 2.5rem;
}

.projeto:hover .detalhes {
    display: flex;
}

.projeto:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Seção footer */

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    font-family: "Source Sans 3", sans-serif;
    color: var(--quaternary-color);
    padding: 3rem 0 3rem 0;
}

.contato h2 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.icones-contato {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


.contato-estilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--quaternary-color);
}

.contato-estilo:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
}

/* Responsividade */
/* celular */

@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    .conteudo {
        width: 80%;
        text-align: center;
        align-items: center;
    }


    .inicio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre p{
        width: 80%;
    }

    .quadrado {
        display: none;
    }

    .perfil {
        display: none;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botao {
        margin-top: 1rem;
    }

    .meu-texto {
        width: 80%;
    }
 

    .contato {
        padding: 2rem 0 2rem 0;
    }
}

@media (max-width: 768px) {

    .menu {
        flex-direction: column;
        background-color: var(--terciary-color);
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 1rem;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: var(--primary-color);
        font-size: 28px;
        cursor: pointer;
    }
}