@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Fredericka+the+Great&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --primary-color: #FFBE98;
    --secondary-color: #F7DED0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    height: 50px;
    /* sombra na parte de baixo do header */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.icones{
    display: flex;
    justify-content: space-between;
}

.icones ion-icon{
    font-size: 27px;
    color: #781D42;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between; 
    list-style-type: none; 
    padding: 0; 
}

.item {
    margin-right: 20px; 
}

.item a {
    text-decoration: none; 
    color: #781D42; 
    font-size: 19px; 
    font-family: 'roboto', sans-serif;
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    /* background-color: purple; */
    width: 75%;
    justify-content: center;
    align-items: left;
    text-align: justify;
    /* padding: 80px; */
}

.conteudo h1{
    font-family: 'roboto', sans-serif;
    font-size: 45px;
    color: black;
}

.conteudo p{
    font-family: 'roboto', sans-serif;
    font-size: 23px;
    color: black;
}

.inicio{
    /* border: 1px solid #000; */
    display: flex;
    height: calc(100vh - 50px);
}

.quadrado {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 22%;
    height: 100vh;
    z-index: 1;
    background-color: #683f4f;
}

.main{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.meu-nome{
    color: #781D42;
}

.perfil{
    display: flex;
    z-index: 2; 
}


.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #781D42;
    border: solid 1px #781D42;
    border-radius: 16px;
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 19px;
}

.botao:hover{
    background-color: #fff;
    color: #781D42;
}

.botao a{
    color: #fff; 
    font-size: 17px; 
    font-family: "Source Sans 3", sans-serif;
}

.link-botao{
    text-decoration: none;
    width: 200px;
    height: 50px;
}

.sobre{
    background-color: #F2F2F2;
    padding: 2rem 0 2rem 0;
}

.meu-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    font-family: "Scada", sans-serif;
    color: black;
    font-size: 1.1rem;
}

.titulo-sobre{
    margin-bottom: 10px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
}

.habilidades-conteudo{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "Source Sans 3", sans-serif;
    gap: 1rem;
}

.meu-sobre{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.titulo-habilidades{
    padding: 30px;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1.5rem;
}

.icone-sobre{
    width: 70px;
    height: 70px;

}

.card{
    display: flex;
    flex-direction: column;
    border-top: #73465B 5px solid;  
    border-right: #73465B 5px solid;
    width: 7rem;
    height: 7rem;
    padding: 1.3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 0.7rem;
    background-color: #F2F2F2;
    transition: all 0.2s ease;  
}

.card:hover{
    transform: scale(1.2);
    z-index: 1;
}

.icone-habilidade{
    display: flex;
    height: 50px;

}

/* footer{
    height: 60px;
    background-color: #FFBE98;

} */